<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">	
	  	<div class="multinav">
		  <div class="multinav-scroll" style="height: 100%;">	
			  <!-- sidebar menu-->
			  <ul class="sidebar-menu" data-widget="tree">	
				<li class="header"> Ozon</li>
				<li class="treeview">
					<a href="#">
						<img src="https://www.ozon.ru/public/favicon.ico" alt="Ozon Logo">
					  <span>Ozon</span>
					  <span class="pull-right-container">
						<i class="fa fa-angle-right pull-right"></i>
					  </span>
					</a>
					<ul class="treeview-menu">

					  <li><a href="{% url 'ozon_settings' %}"><i class="ti-settings"><span class="path1"></span><span class="path1"></span></i>Настройки</a></li>
			  
					</ul>
				  </li>
				  <li class="header">Wildberries</li>
				<li class="treeview">
					<a href="#">
						<img src="https://www.wildberries.ru/favicon.ico" alt="Wildberries Logo">
					  <span>Wildberries</span>
					  <span class="pull-right-container">
						<i class="fa fa-angle-right pull-right"></i>
					  </span>
					</a>
					<ul class="treeview-menu">
					  <li><a href="{% url 'wildberries_incomes' %}"><i class="ti-layout"><span class="path1"></span><span class="path1"></span></i>Поставки</a></li>
					  <li><a href="{% url 'wildberries_stocks' %}"><i class="ti-layout-accordion-list"><span class="path1"></span><span class="path1"></span></i>Товары</a></li>
					  <li><a href="{% url 'wildberries_orders' %}"><i class="ti-shopping-cart"><span class="path1"></span><span class="path1"></span></i>Заказы</a></li>
					  <li><a href="{% url 'wildberries_sales' %}"><i class="ti-shopping-cart-full"><span class="path1"></span><span class="path1"></span></i>Продажи</a></li>
					  <li><a href="{% url 'wildberries_settings' %}"><i class="ti-settings"><span class="path1"></span><span class="path1"></span></i>Настройки</a></li>
					</ul>
				  </li>

				
			  </ul>
		  </div>
		</div>
    </section>
	<div class="sidebar-footer">
		<a href="javascript:void(0)" class="link" data-bs-toggle="tooltip" title="Settings"><span class="icon-Settings-2"></span></a>
		<a href="mailbox.html" class="link" data-bs-toggle="tooltip" title="Email"><span class="icon-Mail"></span></a>
		<a href="javascript:void(0)" class="link" data-bs-toggle="tooltip" title="Logout"><span class="icon-Lock-overturning"><span class="path1"></span><span class="path2"></span></span></a>
	</div>
  </aside>