


<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">	
	  	<div class="multinav">
		  <div class="multinav-scroll" style="height: 100%;">	
			  <!-- sidebar menu-->
			  <ul class="sidebar-menu" data-widget="tree">


				  <li class="header">Администрирование</li>
				  <li class="treeview">
					<a href="#">
					<i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
					  <span >Пользователи</span>
					  <span class="pull-right-container">
						<i class="fa fa-angle-right pull-right"></i>
					  </span>
					</a>
					<ul class="treeview-menu">
					  <li><a href=""><i class="icon-Commit"><span class="path4"></span><span class="path4"></span></i>Пользователи</a></li>
					</ul>
				  </li>


				  <li class="treeview">
					<a href="#">
						<i class="icon-File"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
					  <span>Данные</span>
					  <span class="pull-right-container">
						<i class="fa fa-angle-right pull-right"></i>
					  </span>
					</a>
					<ul class="treeview-menu">
					  <li><a href=""><i class="icon-Commit"><span class="path4"></span><span class="path4"></span></i>Себестоимость</a></li>
					</ul>
				  </li>


			</ul>
		  </div>
		</div>
    </section>
  </aside>
  <div class="control-sidebar-bg"></div>

