{% extends 'marketplace/main_mp.html' %}


{% load static %}


{% block css %}

<style>

</style>

{% endblock %}

{% block tiitle %}StulerCRM - Упаковка - Списки{% endblock %}

    {% block content %}



    <div class="content-wrapper">
        <div class="container-full">


            <section class="content">


                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="page-title"> <img style="width: auto; max-width: 30px; height: auto; max-height: 30px;" src="https://www.ozon.ru/public/favicon.ico" alt="Yandex Logo"> Все маркет плейсы</h3>

                                <div class="mb-20">
                                    <label for="report_date">Дата отчёта</label>
                                    <input class="form-control" type="date" id="date_start" name="report_date">
                                </div>
                
                                
                                <div class="row">
                                    <div class="col-4">
                                        <a type="button" id="all_excel" data-name="all" class="btn btn-success excel">Excel</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>


                <div class="row">






                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="page-title"> <img style="width: auto; max-width: 30px; height: auto; max-height: 30px;" src="https://www.ozon.ru/public/favicon.ico" alt="Yandex Logo"> Озон</h3>

                                    <div class="mb-20">
                                        <label for="report_date">Дата отчёта</label>
                                        <input class="form-control" type="date" id="date_start" name="report_date">
                                    </div>
                    
                                    
                                    <div class="row">
                                        <div class="col-8">
                                            <a type="submit" id="ozon_generate" class="btn btn-primary">Сгенерировать отчёт</a>
                                        </div>
                                        <div class="col-4 text-end">
                                            <a type="button" id="ozon_excel" data-name="Ozon" class="btn btn-success excel">Excel</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="page-title"> <img style="width: auto; max-width: 30px; height: auto; max-height: 30px;" src="https://sun7-22.userapi.com/impg/mCHOUy4tm3GnSOQGt2Uw29LVdx9wAVYNFY-Gog/jExzWMsnoQc.jpg?size=800x800&quality=95&sign=ce4b35db780c06f718d8446eb39ba374&type=album" alt="Yandex Logo"> Я.Маркет</h3>
                                <form action="{% url 'yandex_orders_print' %}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-20">
                                        <label for="report_date">Дата отчёта</label>
                                        <input class="form-control" type="date" name="report_date">
                                    </div>
                    
                                    <div class="row">
                                        <div class="col-8">
                                            <button type="submit" class="btn btn-primary">Сгенерировать отчёт</button>
                                        </div>
                                        <div class="col-4 text-end">
                                            <a type="button" id="ya_excel" data-name="Ya" class="btn btn-success excel">Excel</a>
                                        </div>
                                    </div>
                    
                                </form>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="page-title"> <img style="width: auto; max-width: 30px; height: auto; max-height: 30px;" src="https://extra-cdn.sbermegamarket.ru/static/dist/images/logo-mega-desktop.1d57cb.svg" alt="Yandex Logo"> СберМегаМаркет</h3>
                                <form action="{% url 'sbermegamarket_orders_print' %}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-20">
                                        <label for="report_date">Дата отчёта</label>
                                        <input class="form-control" type="date" name="report_date">
                                    </div>
                    
                                    <div class="row">
                                        <div class="col-8">
                                            <button type="submit" class="btn btn-primary">Сгенерировать отчёт</button>
                                        </div>
                                        <div class="col-4 text-end">
                                            <a type="button" id="smm_excel" data-name="smm" class="btn btn-success excel">Excel</a>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>


            </section>



        </div>
    </div>
    


	{% endblock %}


	{% block js %} 
    
    
    <script src="{% static 'assets/vendor_components/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'js/pages/data-table.js' %}"></script>


	<script src="{% static 'assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
	<script src="{% static 'assets/vendor_plugins/input-mask/jquery.inputmask.js' %}"></script>
	<script src="{% static 'assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
	<script src="{% static 'assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
	<script src="{% static 'assets/vendor_components/moment/min/moment.min.js' %}"></script>
	<script src="{% static 'assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
	<script src="{% static 'assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>

    <script src="{% static 'assets/vendor_components/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'assets/vendor_components/sweetalert/jquery.sweet-alert.custom.js' %}"></script>

    <script src="{% static 'js/pages/advanced-form-element.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

    <script>


$("#ozon_generate").click(function () {
    var date_end = $('#date_start').val()
    window.open('/marketplace/ozon/spisok/upakovka/fbs/orders/'+date_end+'/awaiting_deliver/all', '_blank');

});



$(document).ready(function() {


    function s2ab(s) {
    var buf = new ArrayBuffer(s.length);
    var view = new Uint8Array(buf);
    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
    return buf;
}



    $('.excel').on('click', function(e) {
        var url = '{% url "api_upakovka_spisok_generate_csv" %}'
        e.preventDefault(); // Предотвращаем стандартное действие ссылки

        var report_date = $(this).closest('.card-body').find('input[name="report_date"]').val();
        var dataName = $(this).data('name');

        $.ajax({
            url: url, // Замените на ваш URL-адрес
            type: 'GET',
            data: {
                report_date: report_date,
                market_place_type: dataName
            },    
            beforeSend: function(xhr) {
                    xhr.setRequestHeader('Accept-Charset', '');
                },
    
            success: function(response) {
                // Создаем ссылку на файл CSV
                var csvBlob = new Blob([response], { type: 'text/csv;charset=utf-8;' });
                var csvLink = document.createElement('a');
                csvLink.href = window.URL.createObjectURL(csvBlob);
                csvLink.download = 'marja_ozon.csv';

                // Конвертируем CSV в XLSX
                Papa.parse(response, {
                    complete: function(results) {
                        var data = results.data;
                        var ws = XLSX.utils.json_to_sheet(data);
                        var wb = XLSX.utils.book_new();
                        XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
                        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

                        // Создаем ссылку на файл XLSX
                        var xlsxBlob = new Blob([s2ab(wbout)], {type:"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"});
                        var xlsxLink = document.createElement('a');
                        xlsxLink.href = (window.webkitURL || window.URL).createObjectURL(xlsxBlob);
                        xlsxLink.download = dataName+'_'+report_date+'_spisok.xlsx';

                        // Инициируем клик по ссылке для автоматического скачивания XLSX
                        xlsxLink.click();
                    }
                });
                console.log('AJAX запрос успешно выполнен', response);
            },
            error: function(xhr, status, error) {
                // Обработка ошибки
                console.error('Ошибка AJAX запроса', error);
            }
        });
    });
});



    </script>

    
    {% endblock %}
