{% extends 'main/base.html' %}


{% load static %}


{% block css %}

<style>
.parent-container {
    width: 200%; /* Ширина родительского контейнера */
    height: 100%; /* Высота родительского контейнера */
    overflow: auto; /* Добавляем полосу прокрутки, если таблица больше, чем размер контейнера */
    border: 1px solid #ccc; /* Необязательно: граница для визуального отображения контейнера */
  }

  .table-container {
    width: 100%; /* Ширина таблицы */
    height: 100%; /* Высота таблицы */
    overflow: auto; /* Добавляем полосу прокрутки, если таблица больше, чем размер контейнера */
  }

  .table-container__table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем промежутки между ячейками */
  }

  .table-container__table th, td {
    border: 1px solid #ccc; /* Граница для ячеек */
    padding: 10px; /* Отступы внутри ячеек */
    text-align: left; /* Выравнивание текста по левому краю */
  }
</style>

{% endblock %}

{% block tiitle %}StulerCRM - WildBerries Заказы{% endblock %}

    {% block content %}



    <div class="content-wrapper">
        <div class="container-full">
  
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Товары</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">WildBerries</li>
                                    <li class="breadcrumb-item active" aria-current="page">Заказы</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    
                </div>
            </div>

            <section class="content">
                <div class="container mt-5"> 
                    <div class="col-6">
                    <h2>Список заказов</h2>
                    <label for="statusFilter">Фильтр по статусу:</label>
                    <select id="statusFilter">
                        <option value="all">Все заказы</option>
                        <option value="Оформлен">Оформлен</option>
                        <option value="В обработке">В обработке</option>
                        <option value="Оплачен">Оплачен</option>
                    </select>
                    <div class="parent-container">
                        <div class="table-container">
                            <table id="table table-striped" class="table-container__table">
                                <thead>
                                    <tr>
                                        <th>Дата и время заказа</th>
                                        <th>Дата и время обновления информации в сервисе</th>
                                        <th>Склад отгрузки</th>
                                        <th>Страна</th>
                                        <th>Округ</th>
                                        <th>Регион</th>
                                        <th>Артикул продавца</th>
                                        <th>Артикул WB</th>
                                        <th>Баркод</th>
                                        <th>Категория</th>
                                        <th>Предмет</th>
                                        <th>Бренд</th>
                                        <th>Размер товара</th>
                                        <th>Номер поставки</th>
                                        <th>Договор поставки</th>
                                        <th>Договор реализации</th>
                                        <th>Цена без скидок</th>
                                        <th>Скидка продавца</th>
                                        <th>Скидка WB</th>
                                        <th>Фактическая цена с учетом всех скидок</th>
                                        <th>Цена со скидкой продавца</th>
                                        <th>Отмена заказа</th>
                                        <th>Дата и время отмены заказа</th>
                                        <th>Тип заказа</th>
                                        <th>Идентификатор стикера</th>
                                        <th>Номер заказа</th>
                                        <th>Уникальный идентификатор заказа</th>
                                    </tr>
                                </thead>
                                <tbody id="id="tableBody>
                                    <!-- {% for inc in WB_inc %}
                                    <tr>
                                        <td>{{ inc.incomeId }}</td>
                                        <td>{{ inc.number }}</td>
                                        <td>{{ inc.date }}</td>
                                        <td>{{ inc.lastChangeDate }}</td>
                                        <td>{{ inc.supplierArticle }}</td>
                                        <td>{{ inc.techSize }}</td>
                                        <td>{{ inc.barcode }}</td>
                                        <td>{{ inc.quantity }}</td>
                                        <td>{{ inc.totalPrice }}</td>
                                        <td>{{ inc.dateClose }}</td>
                                        <td>{{ inc.warehouseName }}</td>
                                        <td>{{ inc.nmId }}</td>
                                        <td>{{ inc.status }}</td>
                                    </tr>
                                    {% endfor %} -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </section>

        </div>
    </div>
    


	{% endblock %}


	{% block js %} 
    


    <script>





    </script>

    
    {% endblock %}
