{% extends 'main/base.html' %}


{% load static %}


{% block css %}

<style>
.parent-container {
    width: 200%; /* Ширина родительского контейнера */
    height: 350px; /* Высота родительского контейнера */
    overflow-y: auto; /* Добавляем полосу прокрутки, если таблица больше, чем размер контейнера */
    overflow-x: auto;
    border: 1px solid #ccc; /* Необязательно: граница для визуального отображения контейнера */
  }

  .table-container {
    width: 100%; /* Ширина таблицы */
    height: 100%; /* Высота таблицы */
    overflow-y: auto; /* Добавляем полосу прокрутки, если таблица больше, чем размер контейнера */
    overflow-x: auto;
  }

  .table-container__table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем промежутки между ячейками */
  }

  .table-container__table th, td {
    border: 1px solid #ccc; /* Граница для ячеек */
    padding: 10px; /* Отступы внутри ячеек */
    text-align: left; /* Выравнивание текста по левому краю */
  }
</style>

{% endblock %}

{% block tiitle %}StulerCRM - WildBerries Заказы{% endblock %}

    {% block content %}



    <div class="content-wrapper">
        <div class="container-full">
  
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Товары</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">WildBerries</li>
                                    <li class="breadcrumb-item active" aria-current="page">Заказы</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    
                </div>
            </div>

            <section class="content">
                    <div class="row">
                        <div class="col-xl-2 col-lg-5 col-12">
                                <div class="row">
                                </div>
                              <!-- /.modal -->
                      
                              <!-- /. box -->
                                <div class="box" style="padding: 25px;">
                                    <div class="box-header with-border">
                                        <h4 class="box-title">Фильтры</h4>
                                        <!-- <ul class="box-controls pull-right">
                                            <li>
                                            <a class="box-btn-slide" href="#"></a>
                                            </li>	
                                        </ul> -->
                                    </div>
                    
                                        <ul class="nav nav-pills flex-column">
                                            <div class="form-group">
                                                <label>Склад отгрузки</label>
                                                <select class="form-select" id="sp_dost">
                                                    <option value="all">Все</option><option value="73895">Почта России - Склад ПОЧТА</option>
                                                    <option value="Cheb">Самостоятельно - Склад Чебоксары</option>
                                                </select>
                                            </div>
                                
                                            <div class="form-group">
                                                <label>Статус заказа</label>
                                                <select class="form-select" id="status">
                                                <option value="all">Все</option><option value="awaiting_registration">Ожидает регистрации</option>
                                                <option value="acceptance_in_progress">идёт приёмка</option>
                                                <option value="awaiting_approve">ожидает подтверждения</option>
                                                <option value="awaiting_packaging">ожидает упаковки</option>
                                                <option value="awaiting_deliver">ожидает отгрузки</option>
                                                <option value="arbitration">арбитраж</option>
                                                <option value="client_arbitration">клиентский арбитраж доставки</option>
                                                <option value="delivering">доставляется</option>
                                                <option value="driver_pickup">у водителя</option>
                                                <option value="delivered">доставлено</option>
                                                <option value="cancelled">отменено</option>
                                                <option value="not_accepted">не принят на сортировочном центре</option>
                                                <option value="sent_by_seller">отправлено продавцом</option>
                                            </select>
                                            </div>
                                            <div class="col-12">
                                                <label class="box-title mb-5">Дата оформления</label>
                                                <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                    <label>Начальная дата:</label>
                                                    <input class="form-control" type="date" value="" id="date_start">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                    <label>Конечная дата:</label>
                                                    <input class="form-control" type="date" value="" id="date_end">
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </ul>
                                </div>
                                    <!-- /.box-body -->
                        </div>
                        <div class="col-xl-10 col-lg-7 col-12">
                                    <div class="box" id="order_box">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">Список Заказов</h4>
                                            <div class="box__buttons">
                                                <a class="btn btn-xs btn-primary pull-right">button</a>
                                                <a class="btn btn-xs btn-warning pull-right">button</a>
                                            </div>
                                            
                                        </div>
                                        <div class="box-body order_box_body">
                                            <div class="table-responsive">
                                                <div id="order_table2_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-6">
                                                    
                                                        </div>
                                                        <div class="col-sm-12 col-md-6">
                                                            <div id="order_table2_filter" class="dataTables_filter">
                                                                <label>Поиск:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="order_table2"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="dataTables_scroll">
                                                                <div class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 450px; width: 100%;">
                                                                    <table id="order_table2" class="table table-sm table-hover dataTable no-footer" role="grid" aria-describedby="order_table2_info" style="width: 100%;">
                                                                        <thead class="thead-light">
                                                                            <tr role="row" style="height: 0px;">
                                                                                <th>Дата и время заказа</th>
                                                                                    <th>Дата и время обновления информации в сервисе</th>
                                                                                    <th>Склад отгрузки</th>
                                                                                    <th>Страна</th>
                                                                                    <th>Округ</th>
                                                                                    <th>Регион</th>
                                                                                    <th>Артикул продавца</th>
                                                                                    <th>Артикул WB</th>
                                                                                    <th>Баркод</th>
                                                                                    <th>Категория</th>
                                                                                    <th>Предмет</th>
                                                                                    <th>Бренд</th>
                                                                                    <th>Размер товара</th>
                                                                                    <th>Номер поставки</th>
                                                                                    <th>Договор поставки</th>
                                                                                    <th>Договор реализации</th>
                                                                                    <th>Цена без скидок</th>
                                                                                    <th>Скидка продавца</th>
                                                                                    <th>Скидка WB</th>
                                                                                    <th>Фактическая цена с учетом всех скидок</th>
                                                                                    <th>Цена со скидкой продавца</th>
                                                                                    <th>Отмена заказа</th>
                                                                                    <th>Дата и время отмены заказа</th>
                                                                                    <th>Тип заказа</th>
                                                                                    <th>Идентификатор стикера</th>
                                                                                    <th>Номер заказа</th>
                                                                                    <th>Уникальный идентификатор заказа</th>
                                                                            </tr>
                                                                        </thead>
                                                                            
                                                                        <tbody id="tableBody">
                                                                            {% for order in WB_inc %}
                                                                            <tr>
                                                                                <td>{{ order.date|date:"d.m.Y" }}</td>
                                                                                <td>{{ order.lastChangeDate|date:"d.m.Y" }}</td>
                                                                                <td>{{ order.warehouseName }}</td>
                                                                                <td>{{ order.countryName }}</td>
                                                                                <td>{{ order.oblastOkrugName }}</td>
                                                                                <td>{{ order.regionName }}</td>
                                                                                <td>{{ order.supplierArticle }}</td>
                                                                                <td>{{ order.nmId }}</td>
                                                                                <td>{{ order.barcode }}</td>
                                                                                <td>{{ order.category }}</td>
                                                                                <td>{{ order.subject }}</td>
                                                                                <td>{{ order.brand }}</td>
                                                                                <td>{{ order.techSize }}</td>
                                                                                <td>{{ order.incomeID }}</td>
                                                                                <td>{{ order.isSupply }}</td>
                                                                                <td>{{ order.isRealization }}</td>
                                                                                <td>{{ order.totalPrice }}</td>
                                                                                <td>{{ order.discountPercent }}</td>
                                                                                <td>{{ order.spp }}</td>
                                                                                <td>{{ order.finishedPrice }}</td>
                                                                                <td>{{ order.priceWithDisc }}</td>
                                                                                <td>{{ order.isCancel }}</td>
                                                                                <td>{{ order.cancelDate|date:"d.m.Y" }}</td>
                                                                                <td>{{ order.orderType }}</td>
                                                                                <td>{{ order.sticker }}</td>
                                                                                <td>{{ order.gNumber }}</td>
                                                                                <td>{{ order.srid }}</td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-5">
                                                            <div class="dataTables_info" id="order_table2_info" role="status" aria-live="polite">
                                                                Записи с 1 до #
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-7">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /. box -->
                                </div>
                     </div>
                    </div>
            </section>
        </div>
    </div>
    


	{% endblock %}


	{% block js %} 


    <script>




    </script>

    
    {% endblock %}
