{% extends 'main/base.html' %}


{% load static %}


{% block css %}

<style>
.parent-container {
    width: 150%; /* Ширина родительского контейнера */
    height: 350px; /* Высота родительского контейнера */
    overflow-y: auto; /* Добавляем полосу прокрутки, если таблица больше, чем размер контейнера */
    overflow-x: auto;
    border: 1px solid #ccc; 
  }

  .table-container {
    width: 100%; /* Ширина таблицы */
    height: 100%; /* Высота таблицы */
    overflow-y: auto; /* Добавляем полосу прокрутки, если таблица больше, чем размер контейнера */
    overflow-x: auto;
  }

  .table-container__table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем промежутки между ячейками */
  }

  .table-container__table th, td {
    border: 1px solid #ccc; /* Граница для ячеек */
    padding: 10px; /* Отступы внутри ячеек */
    text-align: left; /* Выравнивание текста по левому краю */
  }
</style>

{% endblock %}

{% block tiitle %}StulerCRM - WildBerries Заказы{% endblock %}

    {% block content %}



    <div class="content-wrapper">
        <div class="container-full">
  
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Товары</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">WildBerries</li>
                                    <li class="breadcrumb-item active" aria-current="page">Заказы</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    
                </div>
            </div>

            <section class="content">
                <div class="container mt-5"> 
                    <div class="box-body pb-0">
                        <div class="row" style="align-items: baseline;">
                            <div class="col-md-3 col-12" style="width: 10%;">
                            <div class="form-group">
                              <label class="form-label">Фильтры</label>
                              <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">Alabama</option>
                                <option>Alaska</option>
                                <option>California</option>
                                <option>Delaware</option>
                                <option>Tennessee</option>
                                <option>Texas</option>
                                <option>Washington</option>
                              </select>
                              
                            </div>
                            <!-- /.form-group -->
                            </div>
                            <div class="col-6">
                                <div class="col-6__header" style="display: flex; justify-content: space-between; align-items: center;">
                                    <h2>Список заказов</h2>
                                    <div class="col-6__header-btn">
                                        <button type="button" class="waves-effect waves-light btn btn-default btn-flat mb-5">Default</button>
                                        <button type="button" class="waves-effect waves-light btn btn-default btn-flat mb-5">Default</button>
                                    </div>
                                </div>
                                <div class="parent-container">
                                    <div class="table-container">
                                        <table id="table table-striped" class="table-container__table" id="order_table">
                                            <thead>
                                                <tr>
                                                    <th>Дата и время заказа</th>
                                                    <th>Дата и время обновления информации в сервисе</th>
                                                    <th>Склад отгрузки</th>
                                                    <th>Страна</th>
                                                    <th>Округ</th>
                                                    <th>Регион</th>
                                                    <th>Артикул продавца</th>
                                                    <th>Артикул WB</th>
                                                    <th>Баркод</th>
                                                    <th>Категория</th>
                                                    <th>Предмет</th>
                                                    <th>Бренд</th>
                                                    <th>Размер товара</th>
                                                    <th>Номер поставки</th>
                                                    <th>Договор поставки</th>
                                                    <th>Договор реализации</th>
                                                    <th>Цена без скидок</th>
                                                    <th>Скидка продавца</th>
                                                    <th>Скидка WB</th>
                                                    <th>Фактическая цена с учетом всех скидок</th>
                                                    <th>Цена со скидкой продавца</th>
                                                    <th>Отмена заказа</th>
                                                    <th>Дата и время отмены заказа</th>
                                                    <th>Тип заказа</th>
                                                    <th>Идентификатор стикера</th>
                                                    <th>Номер заказа</th>
                                                    <th>Уникальный идентификатор заказа</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableBody">
                                                {% for order in WB_inc %}
                                                <tr>
                                                    <td>{{ order.date|date:"d.m.Y" }}</td>
                                                    <td>{{ order.lastChangeDate|date:"d.m.Y" }}</td>
                                                    <td>{{ order.warehouseName }}</td>
                                                    <td>{{ order.countryName }}</td>
                                                    <td>{{ order.oblastOkrugName }}</td>
                                                    <td>{{ order.regionName }}</td>
                                                    <td>{{ order.supplierArticle }}</td>
                                                    <td>{{ order.nmId }}</td>
                                                    <td>{{ order.barcode }}</td>
                                                    <td>{{ order.category }}</td>
                                                    <td>{{ order.subject }}</td>
                                                    <td>{{ order.brand }}</td>
                                                    <td>{{ order.techSize }}</td>
                                                    <td>{{ order.incomeID }}</td>
                                                    <td>{{ order.isSupply }}</td>
                                                    <td>{{ order.isRealization }}</td>
                                                    <td>{{ order.totalPrice }}</td>
                                                    <td>{{ order.discountPercent }}</td>
                                                    <td>{{ order.spp }}</td>
                                                    <td>{{ order.finishedPrice }}</td>
                                                    <td>{{ order.priceWithDisc }}</td>
                                                    <td>{{ order.isCancel }}</td>
                                                    <td>{{ order.cancelDate|date:"d.m.Y" }}</td>
                                                    <td>{{ order.orderType }}</td>
                                                    <td>{{ order.sticker }}</td>
                                                    <td>{{ order.gNumber }}</td>
                                                    <td>{{ order.srid }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </div>
    


	{% endblock %}


	{% block js %} 


    <script>




    </script>

    
    {% endblock %}
