{% extends 'main/base.html' %}


{% load static %}

{% block css %}
<style>



</style>
{% endblock %}

{% block tiitle %}Товары mpst{% endblock %}

    {% block content %}
	<div class="content-wrapper">
		<div class="container-full">
		  <!-- Content Header (Page header) -->	  
		  <div class="content-header">
			  <div class="d-flex align-items-center">
				  <div class="me-auto">
					  <h3 class="page-title">Главная Товары</h3>
					  <div class="d-inline-block align-items-center">
						  <nav>
							  <ol class="breadcrumb">
								  <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								  <li class="breadcrumb-item" aria-current="page">Страницы</li>
								  <li class="breadcrumb-item active" aria-current="page">Главная</li>
							  </ol>
						  </nav>
					  </div>
				  </div>
				  
			  </div>
		  </div>
  
		  <!-- Main content -->
		  <section class="content">

		  </section>
		  <!-- /.content -->
		
		</div>
	</div>
	{% endblock %}


	{% block js %}  {% endblock %}
